Business_Tier/web/WEB-INF/wsdl/localhost_8080/Data_Tier/DataService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://DataService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://DataService/" name="DataService">
<types>
<xsd:schema>
<xsd:import namespace="http://DataService/" schemaLocation="http://localhost:8080/Data_Tier/DataService?xsd=1"/>
</xsd:schema>
</types>
<message name="SearchCriminalInfo">
<part name="parameters" element="tns:SearchCriminalInfo"/>
</message>
<message name="SearchCriminalInfoResponse">
<part name="parameters" element="tns:SearchCriminalInfoResponse"/>
</message>
<message name="SearchVehicleInfo">
<part name="parameters" element="tns:SearchVehicleInfo"/>
</message>
<message name="SearchVehicleInfoResponse">
<part name="parameters" element="tns:SearchVehicleInfoResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="Add_Criminal">
<part name="parameters" element="tns:Add_Criminal"/>
</message>
<message name="Add_CriminalResponse">
<part name="parameters" element="tns:Add_CriminalResponse"/>
</message>
<message name="Update_Vehicle">
<part name="parameters" element="tns:Update_Vehicle"/>
</message>
<message name="Update_VehicleResponse">
<part name="parameters" element="tns:Update_VehicleResponse"/>
</message>
<message name="Update_Criminal">
<part name="parameters" element="tns:Update_Criminal"/>
</message>
<message name="Update_CriminalResponse">
<part name="parameters" element="tns:Update_CriminalResponse"/>
</message>
<message name="Delete_Vehicle">
<part name="parameters" element="tns:Delete_Vehicle"/>
</message>
<message name="Delete_VehicleResponse">
<part name="parameters" element="tns:Delete_VehicleResponse"/>
</message>
<message name="AllCriminalInfo">
<part name="parameters" element="tns:AllCriminalInfo"/>
</message>
<message name="AllCriminalInfoResponse">
<part name="parameters" element="tns:AllCriminalInfoResponse"/>
</message>
<message name="Update_User">
<part name="parameters" element="tns:Update_User"/>
</message>
<message name="Update_UserResponse">
<part name="parameters" element="tns:Update_UserResponse"/>
</message>
<message name="All_vehicleInfo">
<part name="parameters" element="tns:All_vehicleInfo"/>
</message>
<message name="All_vehicleInfoResponse">
<part name="parameters" element="tns:All_vehicleInfoResponse"/>
</message>
<message name="Changepassword">
<part name="parameters" element="tns:Changepassword"/>
</message>
<message name="ChangepasswordResponse">
<part name="parameters" element="tns:ChangepasswordResponse"/>
</message>
<message name="Add_User">
<part name="parameters" element="tns:Add_User"/>
</message>
<message name="Add_UserResponse">
<part name="parameters" element="tns:Add_UserResponse"/>
</message>
<message name="SearchUser">
<part name="parameters" element="tns:SearchUser"/>
</message>
<message name="SearchUserResponse">
<part name="parameters" element="tns:SearchUserResponse"/>
</message>
<message name="Add_Vehicle">
<part name="parameters" element="tns:Add_Vehicle"/>
</message>
<message name="Add_VehicleResponse">
<part name="parameters" element="tns:Add_VehicleResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="Delete_Criminal">
<part name="parameters" element="tns:Delete_Criminal"/>
</message>
<message name="Delete_CriminalResponse">
<part name="parameters" element="tns:Delete_CriminalResponse"/>
</message>
<message name="Delete_User">
<part name="parameters" element="tns:Delete_User"/>
</message>
<message name="Delete_UserResponse">
<part name="parameters" element="tns:Delete_UserResponse"/>
</message>
<message name="Allusers">
<part name="parameters" element="tns:Allusers"/>
</message>
<message name="AllusersResponse">
<part name="parameters" element="tns:AllusersResponse"/>
</message>
<message name="SearchVehicle">
<part name="parameters" element="tns:SearchVehicle"/>
</message>
<message name="SearchVehicleResponse">
<part name="parameters" element="tns:SearchVehicleResponse"/>
</message>
<portType name="DataService">
<operation name="SearchCriminalInfo">
<input wsam:Action="http://DataService/DataService/SearchCriminalInfoRequest" message="tns:SearchCriminalInfo"/>
<output wsam:Action="http://DataService/DataService/SearchCriminalInfoResponse" message="tns:SearchCriminalInfoResponse"/>
</operation>
<operation name="SearchVehicleInfo">
<input wsam:Action="http://DataService/DataService/SearchVehicleInfoRequest" message="tns:SearchVehicleInfo"/>
<output wsam:Action="http://DataService/DataService/SearchVehicleInfoResponse" message="tns:SearchVehicleInfoResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://DataService/DataService/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://DataService/DataService/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="Add_Criminal">
<input wsam:Action="http://DataService/DataService/Add_CriminalRequest" message="tns:Add_Criminal"/>
<output wsam:Action="http://DataService/DataService/Add_CriminalResponse" message="tns:Add_CriminalResponse"/>
</operation>
<operation name="Update_Vehicle">
<input wsam:Action="http://DataService/DataService/Update_VehicleRequest" message="tns:Update_Vehicle"/>
<output wsam:Action="http://DataService/DataService/Update_VehicleResponse" message="tns:Update_VehicleResponse"/>
</operation>
<operation name="Update_Criminal">
<input wsam:Action="http://DataService/DataService/Update_CriminalRequest" message="tns:Update_Criminal"/>
<output wsam:Action="http://DataService/DataService/Update_CriminalResponse" message="tns:Update_CriminalResponse"/>
</operation>
<operation name="Delete_Vehicle">
<input wsam:Action="http://DataService/DataService/Delete_VehicleRequest" message="tns:Delete_Vehicle"/>
<output wsam:Action="http://DataService/DataService/Delete_VehicleResponse" message="tns:Delete_VehicleResponse"/>
</operation>
<operation name="AllCriminalInfo">
<input wsam:Action="http://DataService/DataService/AllCriminalInfoRequest" message="tns:AllCriminalInfo"/>
<output wsam:Action="http://DataService/DataService/AllCriminalInfoResponse" message="tns:AllCriminalInfoResponse"/>
</operation>
<operation name="Update_User">
<input wsam:Action="http://DataService/DataService/Update_UserRequest" message="tns:Update_User"/>
<output wsam:Action="http://DataService/DataService/Update_UserResponse" message="tns:Update_UserResponse"/>
</operation>
<operation name="All_vehicleInfo">
<input wsam:Action="http://DataService/DataService/All_vehicleInfoRequest" message="tns:All_vehicleInfo"/>
<output wsam:Action="http://DataService/DataService/All_vehicleInfoResponse" message="tns:All_vehicleInfoResponse"/>
</operation>
<operation name="Changepassword">
<input wsam:Action="http://DataService/DataService/ChangepasswordRequest" message="tns:Changepassword"/>
<output wsam:Action="http://DataService/DataService/ChangepasswordResponse" message="tns:ChangepasswordResponse"/>
</operation>
<operation name="Add_User">
<input wsam:Action="http://DataService/DataService/Add_UserRequest" message="tns:Add_User"/>
<output wsam:Action="http://DataService/DataService/Add_UserResponse" message="tns:Add_UserResponse"/>
</operation>
<operation name="SearchUser">
<input wsam:Action="http://DataService/DataService/SearchUserRequest" message="tns:SearchUser"/>
<output wsam:Action="http://DataService/DataService/SearchUserResponse" message="tns:SearchUserResponse"/>
</operation>
<operation name="Add_Vehicle">
<input wsam:Action="http://DataService/DataService/Add_VehicleRequest" message="tns:Add_Vehicle"/>
<output wsam:Action="http://DataService/DataService/Add_VehicleResponse" message="tns:Add_VehicleResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://DataService/DataService/Add_Vehicle/Fault/Exception"/>
</operation>
<operation name="Delete_Criminal">
<input wsam:Action="http://DataService/DataService/Delete_CriminalRequest" message="tns:Delete_Criminal"/>
<output wsam:Action="http://DataService/DataService/Delete_CriminalResponse" message="tns:Delete_CriminalResponse"/>
</operation>
<operation name="Delete_User">
<input wsam:Action="http://DataService/DataService/Delete_UserRequest" message="tns:Delete_User"/>
<output wsam:Action="http://DataService/DataService/Delete_UserResponse" message="tns:Delete_UserResponse"/>
</operation>
<operation name="Allusers">
<input wsam:Action="http://DataService/DataService/AllusersRequest" message="tns:Allusers"/>
<output wsam:Action="http://DataService/DataService/AllusersResponse" message="tns:AllusersResponse"/>
</operation>
<operation name="SearchVehicle">
<input wsam:Action="http://DataService/DataService/SearchVehicleRequest" message="tns:SearchVehicle"/>
<output wsam:Action="http://DataService/DataService/SearchVehicleResponse" message="tns:SearchVehicleResponse"/>
</operation>
</portType>
<binding name="DataServicePortBinding" type="tns:DataService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SearchCriminalInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchVehicleInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Add_Criminal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Update_Vehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Update_Criminal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Delete_Vehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AllCriminalInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Update_User">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="All_vehicleInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Changepassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Add_User">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Add_Vehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Delete_Criminal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Delete_User">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Allusers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DataService">
<port name="DataServicePort" binding="tns:DataServicePortBinding">
<soap:address location="http://localhost:8080/Data_Tier/DataService"/>
</port>
</service>
</definitions>