Presentation_Tier/web/WEB-INF/wsdl/localhost_8080/Business_Tier/BusinessService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://BusinessService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://BusinessService/" name="BusinessService">
<types>
<xsd:schema>
<xsd:import namespace="http://DataService/" schemaLocation="http://localhost:8080/Business_Tier/BusinessService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://BusinessService/" schemaLocation="http://localhost:8080/Business_Tier/BusinessService?xsd=2"/>
</xsd:schema>
</types>
<message name="SearchVehicleInfo">
<part name="parameters" element="tns:SearchVehicleInfo"/>
</message>
<message name="SearchVehicleInfoResponse">
<part name="parameters" element="tns:SearchVehicleInfoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Addvehicle">
<part name="parameters" element="tns:Addvehicle"/>
</message>
<message name="AddvehicleResponse">
<part name="parameters" element="tns:AddvehicleResponse"/>
</message>
<message name="Changepassword">
<part name="parameters" element="tns:Changepassword"/>
</message>
<message name="ChangepasswordResponse">
<part name="parameters" element="tns:ChangepasswordResponse"/>
</message>
<message name="Deletevehicle">
<part name="parameters" element="tns:Deletevehicle"/>
</message>
<message name="DeletevehicleResponse">
<part name="parameters" element="tns:DeletevehicleResponse"/>
</message>
<message name="Updatevehicle">
<part name="parameters" element="tns:Updatevehicle"/>
</message>
<message name="UpdatevehicleResponse">
<part name="parameters" element="tns:UpdatevehicleResponse"/>
</message>
<message name="Searchvehicle">
<part name="parameters" element="tns:Searchvehicle"/>
</message>
<message name="SearchvehicleResponse">
<part name="parameters" element="tns:SearchvehicleResponse"/>
</message>
<message name="Searchuser">
<part name="parameters" element="tns:Searchuser"/>
</message>
<message name="SearchuserResponse">
<part name="parameters" element="tns:SearchuserResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="Allusers">
<part name="parameters" element="tns:Allusers"/>
</message>
<message name="AllusersResponse">
<part name="parameters" element="tns:AllusersResponse"/>
</message>
<message name="Searchcriminals">
<part name="parameters" element="tns:Searchcriminals"/>
</message>
<message name="SearchcriminalsResponse">
<part name="parameters" element="tns:SearchcriminalsResponse"/>
</message>
<message name="Allcriminalinfo">
<part name="parameters" element="tns:Allcriminalinfo"/>
</message>
<message name="AllcriminalinfoResponse">
<part name="parameters" element="tns:AllcriminalinfoResponse"/>
</message>
<message name="sendmessage">
<part name="parameters" element="tns:sendmessage"/>
</message>
<message name="sendmessageResponse">
<part name="parameters" element="tns:sendmessageResponse"/>
</message>
<message name="AllvehicleInfo">
<part name="parameters" element="tns:AllvehicleInfo"/>
</message>
<message name="AllvehicleInfoResponse">
<part name="parameters" element="tns:AllvehicleInfoResponse"/>
</message>
<message name="Updateuser">
<part name="parameters" element="tns:Updateuser"/>
</message>
<message name="UpdateuserResponse">
<part name="parameters" element="tns:UpdateuserResponse"/>
</message>
<message name="Deleteuser">
<part name="parameters" element="tns:Deleteuser"/>
</message>
<message name="DeleteuserResponse">
<part name="parameters" element="tns:DeleteuserResponse"/>
</message>
<message name="Adduser">
<part name="parameters" element="tns:Adduser"/>
</message>
<message name="AdduserResponse">
<part name="parameters" element="tns:AdduserResponse"/>
</message>
<message name="Searchcriminalhostory">
<part name="parameters" element="tns:Searchcriminalhostory"/>
</message>
<message name="SearchcriminalhostoryResponse">
<part name="parameters" element="tns:SearchcriminalhostoryResponse"/>
</message>
<portType name="BusinessService">
<operation name="SearchVehicleInfo">
<input wsam:Action="http://BusinessService/BusinessService/SearchVehicleInfoRequest" message="tns:SearchVehicleInfo"/>
<output wsam:Action="http://BusinessService/BusinessService/SearchVehicleInfoResponse" message="tns:SearchVehicleInfoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://BusinessService/BusinessService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://BusinessService/BusinessService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Addvehicle">
<input wsam:Action="http://BusinessService/BusinessService/AddvehicleRequest" message="tns:Addvehicle"/>
<output wsam:Action="http://BusinessService/BusinessService/AddvehicleResponse" message="tns:AddvehicleResponse"/>
</operation>
<operation name="Changepassword">
<input wsam:Action="http://BusinessService/BusinessService/ChangepasswordRequest" message="tns:Changepassword"/>
<output wsam:Action="http://BusinessService/BusinessService/ChangepasswordResponse" message="tns:ChangepasswordResponse"/>
</operation>
<operation name="Deletevehicle">
<input wsam:Action="http://BusinessService/BusinessService/DeletevehicleRequest" message="tns:Deletevehicle"/>
<output wsam:Action="http://BusinessService/BusinessService/DeletevehicleResponse" message="tns:DeletevehicleResponse"/>
</operation>
<operation name="Updatevehicle">
<input wsam:Action="http://BusinessService/BusinessService/UpdatevehicleRequest" message="tns:Updatevehicle"/>
<output wsam:Action="http://BusinessService/BusinessService/UpdatevehicleResponse" message="tns:UpdatevehicleResponse"/>
</operation>
<operation name="Searchvehicle">
<input wsam:Action="http://BusinessService/BusinessService/SearchvehicleRequest" message="tns:Searchvehicle"/>
<output wsam:Action="http://BusinessService/BusinessService/SearchvehicleResponse" message="tns:SearchvehicleResponse"/>
</operation>
<operation name="Searchuser">
<input wsam:Action="http://BusinessService/BusinessService/SearchuserRequest" message="tns:Searchuser"/>
<output wsam:Action="http://BusinessService/BusinessService/SearchuserResponse" message="tns:SearchuserResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://BusinessService/BusinessService/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://BusinessService/BusinessService/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="Allusers">
<input wsam:Action="http://BusinessService/BusinessService/AllusersRequest" message="tns:Allusers"/>
<output wsam:Action="http://BusinessService/BusinessService/AllusersResponse" message="tns:AllusersResponse"/>
</operation>
<operation name="Searchcriminals">
<input wsam:Action="http://BusinessService/BusinessService/SearchcriminalsRequest" message="tns:Searchcriminals"/>
<output wsam:Action="http://BusinessService/BusinessService/SearchcriminalsResponse" message="tns:SearchcriminalsResponse"/>
</operation>
<operation name="Allcriminalinfo">
<input wsam:Action="http://BusinessService/BusinessService/AllcriminalinfoRequest" message="tns:Allcriminalinfo"/>
<output wsam:Action="http://BusinessService/BusinessService/AllcriminalinfoResponse" message="tns:AllcriminalinfoResponse"/>
</operation>
<operation name="sendmessage">
<input wsam:Action="http://BusinessService/BusinessService/sendmessageRequest" message="tns:sendmessage"/>
<output wsam:Action="http://BusinessService/BusinessService/sendmessageResponse" message="tns:sendmessageResponse"/>
</operation>
<operation name="AllvehicleInfo">
<input wsam:Action="http://BusinessService/BusinessService/AllvehicleInfoRequest" message="tns:AllvehicleInfo"/>
<output wsam:Action="http://BusinessService/BusinessService/AllvehicleInfoResponse" message="tns:AllvehicleInfoResponse"/>
</operation>
<operation name="Updateuser">
<input wsam:Action="http://BusinessService/BusinessService/UpdateuserRequest" message="tns:Updateuser"/>
<output wsam:Action="http://BusinessService/BusinessService/UpdateuserResponse" message="tns:UpdateuserResponse"/>
</operation>
<operation name="Deleteuser">
<input wsam:Action="http://BusinessService/BusinessService/DeleteuserRequest" message="tns:Deleteuser"/>
<output wsam:Action="http://BusinessService/BusinessService/DeleteuserResponse" message="tns:DeleteuserResponse"/>
</operation>
<operation name="Adduser">
<input wsam:Action="http://BusinessService/BusinessService/AdduserRequest" message="tns:Adduser"/>
<output wsam:Action="http://BusinessService/BusinessService/AdduserResponse" message="tns:AdduserResponse"/>
</operation>
<operation name="Searchcriminalhostory">
<input wsam:Action="http://BusinessService/BusinessService/SearchcriminalhostoryRequest" message="tns:Searchcriminalhostory"/>
<output wsam:Action="http://BusinessService/BusinessService/SearchcriminalhostoryResponse" message="tns:SearchcriminalhostoryResponse"/>
</operation>
</portType>
<binding name="BusinessServicePortBinding" type="tns:BusinessService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SearchVehicleInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Addvehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Changepassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Deletevehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Updatevehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Searchvehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Searchuser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Allusers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Searchcriminals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Allcriminalinfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendmessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AllvehicleInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Updateuser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Deleteuser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Adduser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Searchcriminalhostory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BusinessService">
<port name="BusinessServicePort" binding="tns:BusinessServicePortBinding">
<soap:address location="http://localhost:8080/Business_Tier/BusinessService"/>
</port>
</service>
</definitions>